* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Modak'; 
    font-family:'Dela Gothic One'; 
    font-family: 'Roboto',  sans-serif; 
    scroll-behavior: smooth;

}

h1 {
    font-family: 'Modak';
    font-size: 8vw;
    color: rgb(255, 255, 255);

}

h2 {
    font-family: 'Dela Gothic One';
    font-size: 3em;
    color: #000000; 
    display: flex;
}

h3 {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 1em;
    color: #000000; 
    display: flex;
}

p {
    font-family: 'Roboto';
    font-weight: 100; 
    color: #000000; 
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  

  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

header {
    width: 100%;
    height: 100vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#servicios > h1 {
    justify-content: left;
    display: flex;
    align-items: left;

}

#servicios > p {
    font-size: 1.8em;
    color: white;
    padding: auto;
}

/*Maquetación del menu*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-family:'Dela Gothic One'; 
}

a:hover {
    color: #de70ce;
}


.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 3rem;
    font-weight: bold;
    font-family:'Modak'; 
}

.navbar .links {
    display: flex;
    gap: 2rem;

}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #de70ce;
    color: #000000;
    padding: 0.5rem 1rem;
    border:none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2;
}

.action_btn:hover {
    scale:1.05;
    color: #ffffff;

}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #ffffff;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu a{
    color: #000000;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open {
    height: 200px;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 5%;
}

/*Maquetación del galeria imagenes desplegable 1 LOGO*/
.container {
    width: 100%;
    height: 80vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box-logo {
  width: 320px;
  height: 300px;  
  margin: 5px;
  border-radius: 70px;
  background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/logo-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}


.img-box-logo:nth-child(2) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/logo-2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-logo:nth-child(3) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/logo-3.jpg);
    background-size: cover;
    background-position: center;
}


.img-box-logo h3 {
    color: #ffffff;
    background-color: #de70ce;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5, opacity 0.2s;
}

.img-box-logo:hover {
    width: 400px;
    cursor: pointer;

}

.img-box-logo:hover h3{
    opacity: 1;
    bottom: 25px;
    
}



/*Maquetación del galeria imagenes desplegable 2 NAMING*/
.container {
    width: 100%;
    height: 80vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box-naming {
  width: 150px;
  height: 300px;  
  margin: 5px;
  border-radius: 70px;
  background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/naming-1.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}


.img-box-naming:nth-child(2) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/naming-2.png);
    background-size: cover;
    background-position: center;
}

.img-box-naming:nth-child(3) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/naming-3.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-naming:nth-child(4) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/naming-4.png);
    background-size: cover;
    background-position: center;
}

.img-box-naming:nth-child(5) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/naming-5.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-naming:nth-child(6) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/naming-6.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-naming h3 {
    color: #ffffff;
    background-color: #de70ce;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5, opacity 0.2s;
}

.img-box-naming:hover {
    width: 300px;
    cursor: pointer;

}

.img-box-naming:hover h3{
    opacity: 1;
    bottom: 25px;
    
}

/*Maquetación del galeria imagenes desplegable 3 PACKAGING*/
.container {
    width: 100%;
    height: 80vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box-pack {
  width: 240px;
  height: 300px;  
  margin: 5px;
  border-radius: 70px;
  background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/packaging-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}


.img-box-pack:nth-child(2) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/packaging-2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-pack:nth-child(3) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/packaging-3.jpg);
    background-size: cover;
    background-position: center;
}


.img-box-pack:nth-child(4) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/packaging-4.jpg);
    background-size: cover;
    background-position: center;
}


.img-box-pack h3 {
    color: #ffffff;
    background-color: #de70ce;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5, opacity 0.2s;
}

.img-box-pack:hover {
    width: 320px;
    cursor: pointer;

}

.img-box-pack:hover h3{
    opacity: 1;
    bottom: 25px;
    
}

/*Maquetación del galeria imagenes desplegable 4 DIGITAL*/
.container {
    width: 100%;
    height: 80vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box-digi {
  width: 320px;
  height: 300px;  
  margin: 5px;
  border-radius: 70px;
  background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/digital-1.png);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}


.img-box-digi:nth-child(2) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/digital-2.png);
    background-size: cover;
    background-position: center;
}

.img-box-digi:nth-child(3) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/digital-3.png);
    background-size: cover;
    background-position: center;
}


.img-box-digi h3 {
    color: #ffffff;
    background-color: #de70ce;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5, opacity 0.2s;
}

.img-box-digi:hover {
    width: 400px;
    cursor: pointer;

}

.img-box-digi:hover h3{
    opacity: 1;
    bottom: 25px;
    
}

/*Maquetación del galeria imagenes desplegable 5 IMAGEN*/
.container {
    width: 100%;
    height: 80vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box-img {
  width: 150px;
  height: 300px;  
  margin: 5px;
  border-radius: 70px;
  background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/imagen-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}


.img-box-img:nth-child(2) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/imagen-2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-img:nth-child(3) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/imagen-3.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-img:nth-child(4) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/imagen-4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-img:nth-child(5) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/imagen-5.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-img:nth-child(6) {
    background-image: url(/Users/mariepino/Documents/GitHub/Practica-1/img/imagen-6.jpg);
    background-size: cover;
    background-position: center;
}

.img-box-img h3 {
    color: #ffffff;
    background-color: #de70ce;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5, opacity 0.2s;
}

.img-box-img:hover {
    width: 300px;
    cursor: pointer;

}

.img-box-img:hover h3{
    opacity: 1;
    bottom: 25px;
    
}

/*Maquetación footer*/
footer { 
    height: 200vh;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    display: flex;
    justify-content: space-around;

}

#contacto > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

#contacto > div:nth-child(2) > div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contacto > div:nth-child(2) > div > form,
#contacto > div:nth-child(2) > div > ul {
    width: 100%;
}


/*Maquetación del formulario*/
#contacto > div:nth-child(2) > div > form > input,
#contacto > div:nth-child(2) > div > form > textarea {
    display: block;
    width: 100%;
    height: 4em;
    margin: 2em 0;
    padding: 0.5rem 1rem;
    border: #ffffff 1px solid;
    border-radius: 60px;
}

#contacto > div:nth-child(2) > div > form > textarea {
    height: 12em;
    width: 100%;
    border-radius: 60px;
}

/*Maquetación del botón de enviar formulario*/
#contacto > div:nth-child(2) > div > form > input[type="submit"] {
    color: black;
    background-color: #ffffff;
    border: none;
    width: 6em;
    margin: 1em auto;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 40px;
}

#contacto > div:nth-child(2) > div > form > input[type="submit"]:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border: #ffffff 1px solid;
}

#contacto > div:nth-child(2) > div > form > label {
    display: none;
}


/*Maquetación de los iconos de las redes sociales*/
#contacto > div:nth-child(2) > div > ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

#contacto > div:nth-child(2) > div > ul > li {
    list-style: none;
}

#contacto > div:nth-child(2) > div > ul > li > a > i {
    font-size: 2em;
    color: #ffffff;
    transition: 0.5s;
}

#contacto > div:nth-child(2) > div > ul > li > a > i:hover {
    transform: scale(1.2, 1.2);
}

/*Maquetación del mapa de Google Maps*/
#contacto > div:nth-child(2) > iframe {
    width: 60%;
    min-height: 400px;
    border: 0;
    filter: grayscale(100%);
}

#contacto > div:nth-child(3) {
    margin-top: 2em;
    font-size: 0.8em;
}



#patrocinadores > p {
    margin-top: 15px;
    font-size: 13px;
    color:rgba(255, 255, 255, 0.9);
    text-align: center;

  }
  
  @media (max-width:992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    @media (max-width:576px) {
        .dropdown_menu {
            left: 2rem;
            width: unset;
        }
    }
  }