* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Modak'; 
    font-family:'Dela Gothic One'; 
    font-family: 'Roboto',  sans-serif; 
    scroll-behavior: smooth;

}

h1 {
    font-family: 'Modak';
    font-size: 8vw;
    color: rgb(255, 255, 255);

}

h2 {
    font-family: 'Dela Gothic One';
    font-size: 3em;
    color: #000000; 
    display: flex;
}


p {
    font-family: 'Roboto';
    font-weight: 100; 
    color: #000000; 
}

#contacto > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

#contacto > div:nth-child(2) > div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contacto > div:nth-child(2) > div > form,
#contacto > div:nth-child(2) > div > ul {
    width: 100%;
}


/*Maquetación del formulario*/
#contacto > div:nth-child(2) > div > form > input,
#contacto > div:nth-child(2) > div > form > textarea {
    display: block;
    width: 100%;
    height: 2em;
    margin: 1em 0;
    border: #C5D4DD 1px solid;
}

#contacto > div:nth-child(2) > div > form > textarea {
    height: 5em;
}

/*Maquetación del botón de enviar formulario. Se especifica el tipo de input que es porque los input pueden tener distinto aspecto*/
#contacto > div:nth-child(2) > div > form > input[type="submit"] {
    color: black;
    background-color: #C5D4DD;
    border: none;
    width: 5em;
    margin: 1em auto;
    cursor: pointer;
    transition: 0.5s ease;
}

#contacto > div:nth-child(2) > div > form > input[type="submit"]:hover {
    color: white;
    background-color: rgb(119, 144, 201);
}

/*En el fomulario ocultamos las etiquetas para que el diseño quede más limpio*/
#contacto > div:nth-child(2) > div > form > label {
    display: none;
}


/*Maquetación de los iconos de las redes sociales. Son una lista de enlaces de navegación*/
#contacto > div:nth-child(2) > div > ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

#contacto > div:nth-child(2) > div > ul > li {
    list-style: none;
}

#contacto > div:nth-child(2) > div > ul > li > a > i {
    font-size: 2em;
    color: #C5D4DD;
    transition: 0.5s;
}

#contacto > div:nth-child(2) > div > ul > li > a > i:hover {
    transform: scale(1.2, 1.2);
}

/*Maquetación del mapa de Google Maps. Tenemos que quitar en el elemento iframe del HTML todo lo relacionado con los estilos para que no haya conflictos*/
#contacto > div:nth-child(2) > iframe {
    width: 60%;
    min-height: 400px;
    border: 0;
    filter: grayscale(100%);
}

#contacto > div:nth-child(3) {
    margin-top: 2em;
    font-size: 0.8em;
}
